@media(max-width:600px){
    .fa-burger{
    font-size: 30px; 
    color: orange;
     margin-right: 10px;
     display: block;
     position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%); 
    }

    .nav-container ul li a {
        display: none;
    }
}
